.card-header {
    text-align: center !important;
    margin: 0 auto;
    width: 500px;
}

body {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.td-form {
    width: 100%;
    margin: auto !important;
    text-align: center;
}

#toDoList {
    width: 100%;
    margin: auto !important;
    text-align: center;
}

/* Demo card styling */

.demo-card-wide.mdl-card {
    width: 512px;
    margin: auto;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: #4A148C;
}

.demo-card-wide>.mdl-card__menu {
    color: white;
}